<form action='/square/results'>
  <div><label for='squarenum'> Enter a number </label></div>
  <div><input type='text' name='number' id='squarenum' placeholder='What number do you want to square'></div>
  <div><button> Calculate square </button></div>
</form>
