<form action='/payment/results'>
  <div><label for='apr'> APR </label></div>
  <div><input type='text' name='user_apr' id='apr' placeholder='E.g. 5.42'></div>
  
  <div><label for='years'> Number of years </label></div>
  <div><input type='text' name='user_years' id='years' placeholder='How many years to repay?'></div>
  
  <div><label for='principal'> Principal </label></div>
  <div><input type='text' name='user_pv' id='principal' placeholder='How much principal?'></div>
  


  <div><button> Calculate monthly payment </button></div>
</form>
