<form action='/square_root/results'>
  <div><label for='squarerootnum'> Enter a number </label></div>
  <div><input type='text' name='user_number' id='squarerootnum' placeholder='What number do you want to take the square root of?'></div>
  <div><button> Calculate square root </button></div>
</form>
